<body>
    <div class="container">
        <header>
            <h1>LEVELING UP</h1>
        </header>
        <div class="log">
            {{#if user}}
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
        </div>
        <main>
            <section class="greeting">
                <p>{{greeting}}, {{name}}</p>
                <p>{{date}}</p>
            </section>
            <section class="content">
                {{#if user}}
                    <div class="routines">
                        <a href="/routines">ROUTINES</a>
                    </div>
                    <div class="goals">
                        <a href="/goals">GOALS</a>
                    </div>
                {{else}}
                <p>Please log in to see your routines and goals.</p>
                {{/if}}
            </section>
        </main>
    </div>
</body>
